:root{
    --main-color:#e38528;
}



h1
{
    margin-top: 50px;
    display: block ;
    font-family: 'Potta One', cursive;
    font-size: 5rem;
    color:  #66BFBF;
}

body
{
    margin: 0px;
    text-align: center;
    color: #40514e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

    
} 


h3{
    font-family: 'Source Serif Pro', serif;
    color: #11999E;
    line-height: 3;
}

h2{
    font-family: 'Merriweather', serif;
    font-size: 2.5rem;
    color:  #66BFBF;
}

a{
    color: #11999E;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    border-color: #eaf6f6;
    width: 4%;
 }
 
 p{
     line-height: 2;
 }

 .c {

    color:  #66BFBF;
    font-weight: normal;
    line-height: normal;
}

.skills{
    margin-top: 100px;
    
}

.skill-row1{
 width: 50%;
 margin: 100px auto 200px auto;
 text-align: left;
 line-height: 2;

}

.skill-row2{
    width: 50%;
    margin: 100px auto 200px auto;
    text-align: right;
    line-height: 2;
   
   }

.basic-intro{
    line-height: 2;
}


.profile{
    margin: 100px auto 100px auto;
}

.skill1{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill3{
    width: 25%;
    float: left;
    margin-left: 30px;
}
  
.contact-me{
    margin-top: 100px;
}

.BUTTON_ZPY {
    margin: 25px auto 25px auto;
    -webkit-border-radius: 23px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    font-weight: 100;
    padding: 15px;
    background-color: #66BFBF;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #66BFBF 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }

 .last{
     color: #eaf6f6;
     line-height: 4;
     margin-bottom: 0px;
 }

 
.top-container
{
    background-color: #e4f9f5;
    padding-top: 100px;    
    position: relative;   
}


 
.btm{
    position: absolute;
    bottom: 350px;
    left: 400px;
}    

.top{
    
    position: absolute;
    top: 50px;
    right: 400px;
    
}


.bottom-container{
    padding-top: 25px;
    background-color: #66bfbf;
    margin-top: 100px;
    line-height:3;
    margin-bottom: 0;

}


.footer-link{
    margin: 15px 20px ;
    text-decoration: none;
}

header .follow a{
    font-size: 25rem;
    color:#fff;
    margin:5.7rem;
}

.fab fa-github{
    size: 10rem;
}

.cursor-1{
    position: absolute;
    top:0px; left:0px;
    height:1rem; width:1rem;
    background: var(--main-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
}

.cursor-1.active{
    height:5rem;
    width:5rem;
    opacity: .3;
}

.cursor-2{
    position: absolute;
    top:500px; left:500px;
    height:3rem; width:3rem;
    border: .1rem solid var(--main-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
    transition: .2s linear;
}

.cursor-2.active{
    display: none;
}

 

 
